@import url("https://fonts.cdnfonts.com/css/cocogoose");

body {
  font-family: 'Lato', sans-serif;
}

.btn-custom {
  color: #ec5242;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.btn-custom:active {
  background-color: #ec5242;
  color: white;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #ec5242;
  color: white;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.btn-custom2 {
  background-color: #ec5242;
  color: white;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.btn-custom2:active {
  background-color: #ec5242;
  color: white;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.btn-custom2:hover {
  background-color: #ec5242;
  color: white;
  border: 2px solid #ec5242;
  font-weight: bold;
}

.navbar-a {
  font-weight: bold;
  font-size: 0.95rem;
}

.navbar-b {
  font-weight: bold;
  font-size: 1.05rem;
}

.hero-container {
  background-image: url("images/JPEG/Hero\ 19.jpg"), linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
  background-position: center center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-h2-a {
  font-size: 1.4rem;
  color: #ec5242;
  font-weight: 700;
}

.hero-h2-b {
  font-size: 2rem;
  color: #ec5242;
  font-weight: 700;
}

.hero-h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 900;
  background: url("images/JPEG/Red-animal-print.jpg") no-repeat;
  background-position: center center;
  background-color: #ec5242;
  background-size: cover;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-container-p {
  background-color: #272a31;
  border-radius: 4px;
}

.hero-p {
  color: white;
  margin: 0;
}

.hero-h3 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 900;
  color: #272a31;
}

.hero-h4 {
  font-weight: 400;
  color: #272a31;
}

.main-container {
  background-color: #272a31;
  background-image: url("images/PNG/ring-32x-light.png"), linear-gradient(rgba(39, 42, 49, 0.65), rgba(39, 42, 49, 0.65));
  background-blend-mode: overlay;
  background-repeat: space;
}

.main-h3 {
  color: white;
}

.hr-mobile {
  margin: auto;
  width: 7.5%;
  border: 1px solid #ec5242;
  opacity: 1;
}

.hr-desk {
  margin: auto;
  width: 5%;
  border: 1px solid #ec5242;
  opacity: 1;
}

.main-h4 {
  color: #ec5242;
  font-weight: bold;
}

.main-p {
  color: white;
  font-size: 0.75rem;
}

.main-a {
  font-weight: bold;
  font-size: 1rem;
}

.main-cards {
  border: 2px solid transparent;
  border-radius: 4px;
}

.main-cards:hover {
  border: 2px solid white;
  border-radius: 4px;
}

.partner-container {
  background-color: #272a31;
}

.partner-h3 {
  color: #d3d3d3;
}

.bg-img-thumb {
  background-color: transparent;
  border: none;
}

.footer-p {
  color: #272a31;
  font-size: 0.75rem;
}

.footer-container {
  background-color: #f2f2f2;
}

.footer-a {
  font-size: 0.95rem;
}

.footer-a-b {
  font-size: 1.5rem;
}

body::before {
  content: "XS";
  color: #ec5242;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
  right: 0;
}

.box {
  background-color: transparent;
  border: 1px solid blue;
  min-height: 50px;
  font-size: 2rem;
}

.box2 {
  background-color: transparent;
  border: 1px solid blue;
  min-height: 25px;
  font-size: 2rem;
}

@media (min-width: 576px) {
  body::before {
    content: "SM";
  }
}

@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}
